///********************///
///*     Colors       *///
///********************///

$black: #000;
$white: #fff;

$color1: #000;
$color2: #fff;
$color3: #009933;


///********************///
///*    Break Points  *///
///********************///
$screen-xsm: 480px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1440px;
$screen-xlg: 1440px;


///********************///
///*       Image      *///
///********************///

$imgPath: '/images';
$museoSans: museo-sans, 'NanumBarunGothic', sans-serif;